<div class="window" [style.width]="width+'px'" [style.height]="height+'px'">
    <app-controlled-entity [windowWidth]="width" [windowHeight]="height"></app-controlled-entity>
    <!-- <app-entity [x]="300" [y]="100"></app-entity>
    <app-entity [x]="250" [y]="100"></app-entity>
    <app-entity [x]="200" [y]="100"></app-entity>
    <app-entity [x]="300" [y]="150"></app-entity>
    <app-entity [x]="300" [y]="200"></app-entity>
    <app-entity [x]="250" [y]="200"></app-entity> -->
    <app-maze></app-maze>
</div>