<div class="window" [style.width]="width+'px'" [style.height]="height+'px'">
    <app-controlled-entity [windowWidth]="width" [windowHeight]="height" [x]="10" [y]="10"></app-controlled-entity>
    <app-entity [x]="100" [y]="50"></app-entity>
    <app-static-entity [x]="300" [y]="100"></app-static-entity>
    <app-static-entity [x]="250" [y]="100"></app-static-entity>
    <app-entity [x]="200" [y]="100"></app-entity>
    <app-static-entity [x]="300" [y]="150"></app-static-entity>
    <app-static-entity [x]="300" [y]="200"></app-static-entity>
    <app-static-entity [x]="250" [y]="200"></app-static-entity>



    <!-- <app-static-entity [x]="0" [y]="0" [height]="700" [width]="50"></app-static-entity>
    <app-static-entity [x]="650" [y]="0" [height]="700" [width]="50"></app-static-entity>
    <app-static-entity [x]="50" [y]="0" [height]="50" [width]="600"></app-static-entity>
    <app-static-entity [x]="50" [y]="650" [height]="50" [width]="600"></app-static-entity> -->
</div>